<div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching">
</div>
<div fxLayout="row" fxLayoutAlign="start center" class="tableHead">
  <div fxFlex="20">Name</div>
  <div fxFlex="19">City</div>
  <div fxFlex="31">Gender</div>
  <div fxFlex = "10">Actions</div>
</div>

<div class="row" fxLayout="row" fxLayoutAlign="start center" *ngFor="let data of info | filter:searchText">
  <div fxFlex="25">{{ data.name | titlecase }}</div>
  <div fxFlex="25">{{ data.city }}</div>
  <div fxFlex="25">{{ data.gender }}</div>
  <div fxFlex="25"><button mat-button color="primary" id="{{ data.id }}" (click) = "editRow(data)" >Edit</button></div>
  <div fxFlex="25"><button mat-button color="warn" id="{{ data.id }}" (click) = "deleteRow(data)">Delete</button></div>
</div>
