<div fxLayout="row" fxLayoutAlign="start center" class="tableHead">
  <div fxFlex="20">Name <input class="form-control" type="text" #box (keyup)="onKey(box.value)" name="search" [(ngModel)]="searchText1" placeholder="Name"></div>
  <div fxFlex="19">City <input class="form-control" type="text" name="search" [(ngModel)]="searchText2" placeholder="City"></div>
  <div fxFlex="31">Gender <input class="form-control" type="text" name="search" [(ngModel)]="searchText3" placeholder="Gender"></div>
  <div fxFlex = "10">Actions</div>
</div>

<div class="row" fxLayout="row" fxLayoutAlign="start center" *ngFor="let data of info">
  <div fxFlex="25">{{ data.name | titlecase}}</div>
  <div fxFlex="25">{{ data.city}}</div>
  <div fxFlex="25">{{ data.gender}}</div>
  <div fxFlex="25"><button mat-button color="primary" id="{{ data.id }}" (click) = "editRow(data)" >Edit</button></div>
  <div fxFlex="25"><button mat-button color="warn" id="{{ data.id }}" (click) = "deleteRow(data)">Delete</button></div>
</div>
