<div fxLayout="row" fxLayoutAlign="start center" class="tableHead">
  <div fxFlex="{{colLength}}" *ngFor = 'let col of tableHead'>{{col}} <input *ngIf = "flag" class="form-control" type="text" #box (keyup)="onKey(box.value)" name="search" [(ngModel)]="searchText1" placeholder="{{col}}"></div>
  <!-- <div fxFlex="19">City <input class="form-control" type="text" name="search" [(ngModel)]="searchText2" placeholder="City"></div>
  <div fxFlex="31">Gender <input class="form-control" type="text" name="search" [(ngModel)]="searchText3" placeholder="Gender"></div> -->
  <div fxFlex = "{{actionLength}}" *ngIf = "flag">Actions</div>
</div>

<div class="row" fxLayout="row" fxLayoutAlign="start center" *ngFor="let data of info | filter:searchText1">
  <div fxFlex="{{nameLength}}">{{ data.name | titlecase}}</div>
  <div fxFlex="{{cityLength}}">{{ data.city}}</div>
  <div fxFlex="{{genderLength}}">{{ data.gender}}</div>
  <div fxFlex="{{editLength}}"><button mat-button color="primary" *ngIf = "flag" id="{{ data.id }}" (click) = "editRow(data)" >Edit</button></div>
  <div fxFlex="{{deleteLength}}"><button mat-button color="warn" *ngIf ="flag" id="{{ data.id }}" (click) = "deleteRow(data)">Delete</button></div>
</div>
