.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 20px;
    border: solid black 1px;
    position: absolute;
    padding: 25px;
    color: darkblue;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}