<form [formGroup]="service.form"class="form" #studentData = "ngForm" (ngSubmit) = "onSubmit(studentData.value)">
<h3>Student Data</h3>
<input type="hidden" formControlName="$key">
<mat-form-field>
<input matInput formControlName="name" placeholder="Student Name*" name="name" [(ngModel)]="studentInfo.name">
<mat-error>This field is mandatory.</mat-error>
</mat-form-field>
<mat-form-field>
<mat-select formControlName="city" placeholder = "City" name = "city" [(ngModel)]="studentInfo.city">
<mat-option>None</mat-option>
<ng-container *ngFor="let city of studentCity">
<mat-option value="{{city.value}}">{{city.value}}</mat-option>
</ng-container>
</mat-select>
</mat-form-field>
<mat-label>Choose Subject</mat-label>
<section class="example-section">
<span class="example-list-section">
<mat-checkbox formControlName="isSelected" class="example-margin"
              [checked]="allComplete"
              [color]="task.color"
              [indeterminate]="someComplete()"
              (change)="setAll($event.checked)">
  {{task.name}}
</mat-checkbox>
</span>
<span class="example-list-section">
<ul>
  <li *ngFor="let subtask of task.subtasks">
    <mat-checkbox formControlName="isSelected" [(ngModel)]="subtask.completed"
                  [color]="subtask.color"
                  (ngModelChange)="updateAllComplete()" name = "subject" value = "{{subtask.name}}">
      {{subtask.name}}
    </mat-checkbox>
  </li>
</ul>
</span>
</section>
<br>
<mat-label>Gender</mat-label>
<mat-radio-group formControlName="gender" aria-label="Select an option" name="gender" [(ngModel)]="studentInfo.gender">
<mat-radio-button value="Male">Male</mat-radio-button>
<mat-radio-button value="Female">Female</mat-radio-button>
</mat-radio-group>
<br>
<div class="example-button-row">
<button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid" *ngIf="!isEdit">Save</button>
<button mat-raised-button color="accent" type="submit" [disabled]="service.form.invalid" *ngIf="isEdit" (click) = "updateStudent(studentData.value)">Update</button>
</div>
</form>
<div>
<button class="clearButton" mat-raised-button color="warn" (click)="onClear()">Clear</button>
</div>
<!-- <div *ngFor = "let inform of studentInfo"> -->
<app-student-table [info]="studentInfo" (deleteInfo)="onDelete($event)" (editInfo)="onEdit($event)"></app-student-table>
