.tableHead{
    background-color: #ffd74057;
    margin-left: 14%;
    padding: 5px;
    border: solid 1px teal;
    font-family: cursive;
  }
  .row{
    margin-left: 14%;
    padding: 2px;
    border: solid 1px teal;
  }
  