<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="signup-container">
    <form #registerData = "ngForm" (ngSubmit) = "onSubmit(registerData.value)">
        <h1>REGISTRATION FORM</h1>
        <div>
            <label>Email</label>
            <input type="text" name="email" placeholder="Enter your email here" value="" [(ngModel)]="email">
        </div>
        <div>
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter your username here" value="" [(ngModel)]="username">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password here" value="" [(ngModel)]="password">
        </div>
        <input type="submit" name="login" value="SIGN UP">
    </form>
</div>
<router-outlet></router-outlet>
</body>
</html>
