<div class="home">
    <button class="button"  routerLinkActive="router-link-active" routerLink = "/Assignment-1">Assignment 1</button>
    <button class="button" routerLinkActive="router-link-active" routerLink = "/Assignment-2">Assignment 2</button>
    <button class="button"  routerLinkActive="router-link-active" (click)="onType(id.value,name.value)" >Assignment 3</button>
    <input type="text" #id placeholder="ID">
    <input type="text" #name placeholder="NAME">
</div>
<router-outlet></router-outlet>

<!-- [routerLink] = "['/Assignment-3',id.value,name.value]" -->